* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "raleway", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(---clr-text, #fff);
  font-weight: 700;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s linear;
  transition: transform 0.25s ease-in-out, opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  margin: 1rem;
}

.btn:hover,
.btn:focus {
  opacity: 0.9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 800;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(2rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  margin: 2rem 0;
}

header {
  color: white;
  text-align: center;
  background-color: #222;
  padding-bottom: 2rem;
}

@supports (background-blend-mode: multiply) {
  header {
    background: url(./images/banner.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

section {
  padding: 1rem 0;
}

.section--title {
  text-align: center;
  font-weight: bold;
  padding: 0 0.7;
  margin-bottom: 0.25rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row > * {
  min-width: 250px;
}

.col-1-of-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.col-1-of-4 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.col-1-of-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.col-2-of-3 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.product__img,
.service__img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: black;
  opacity: 0.95;
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s linear;
  transition: transform 0.25s ease-in-out, opacity 0.25s linear, -webkit-transform 0.25s ease-in-out;
  margin: 1rem 0;
}

.product__img:hover,
.service__img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

input,
textarea {
  width: 100%;
}

input:focus,
input:hover {
  outline: none;
  border: none;
}

textarea {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */